<%- include("../partials/header") %>

<div class="container">
    <header class ="jumbotron mt-3">
        <div class="container">
            <h1>Events</h1>
            <p>View the latest hackathons, projects and competitions you can join today!</p>
            <a class="btn btn-primary btn-lg" href="/events/new">Add a new event today!</a>
        </div>
    </header>

    <div class="col-sm-12">
        <form action="/events" method="GET" class="form-inline">
            <div class="row searchFilter ml-1" style="width:100%">    
                <div class="input-group" style="width:100%">
                    <input type="text" class="form-control btn-secondary" name="search" value="<%= search %>" placeholder="Event Name..." >
                    <div class="input-group-append mr-3">
                        <select id="filter" val="<%= filter %>" name="filter[]" id="filter" class="selectpicker form-control" title="Select a Category" data-style="btn-outline-secondary" multiple required>
                            <option value="All">All</option>
                            <option value="Arts">Arts</option>
                            <option value="Business">Business</option>
                            <option value="Computing">Computing</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Government & Politics">Government & Politics</option>
                            <option value="Medical">Medical</option>
                            <option value="Science">Science</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-secondary btn-search" type="button" value="Search">
                </div>
            </div>
        </form>
    </div>

    <div class="row mb-5">
        <div class="mt-4 ml-3">
            <% if(events.length < 1) { %>
                <h3>No events match that query, please try again.</h3>
            <% } %>
        </div>
        <% events.forEach((event) => { %>
            <div class="col-sm-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/events/<%= event._id %>"><%= event.name %></a></h4>
                        <h6 class="card-subtitle mb-2 text-muted">Happening on <%= event.date.toDateString() %></h6>
                        <p class="card-text"><%= event.desc.substring(0, 135) %>...</p>
                        <p class="card-text text-danger">Register by <%= event.deadline.toDateString() %></p>
                        <p>
                            <% event.cat.forEach((cat) => { %>
                                <% if(cat == "Computing") { %>
                                    <button class="tag btn btn-sm" style="background-color: #6EB5FF" disabled><%= cat %></button>
                                <% } else if(cat == "Business") { %>
                                    <button class="tag btn btn-sm" style="background-color: #FFABAB" disabled><%= cat %></button>
                                <% } else if(cat == "Engineering") { %>
                                    <button class="tag btn btn-sm" style="background-color: #FFF5BA" disabled><%= cat %></button>
                                <% } else if(cat == "Arts") { %>
                                    <button class="tag btn btn-sm" style="background-color: #FFB5E8" disabled><%= cat %></button>
                                <% } else if(cat == "Science") { %>
                                    <button class="tag btn btn-sm" style="background-color: #AFF8DB" disabled><%= cat %></button>
                                <% } else if(cat == "Government and Politics") { %>
                                    <button class="tag btn btn-sm" style="background-color: #AFCBFF" disabled><%= cat %></button>
                                <% } else if(cat == "Medical") { %>
                                    <button class="tag btn btn-sm" style="background-color: #B5B9FF" disabled><%= cat %></button>
                                <% } else if(cat == "Others") { %>
                                    <button class="tag btn btn-sm" style="background-color: #FBE4FF" disabled><%= cat %></button>
                                <% } %>
                            <% }) %>
                        </p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include("../partials/footer") %>
