<%- include("../partials/header") %>

  <div class="jumbotron">
    <div class="container">
      <h1 class="mb-4 display-3">
        <%= event.name%>
        <a class="btn btn-info ml-3" href="<%= event.url%>" target="_blank">
          See details
        </a>
        <a class="btn btn-success" href="/events/<%= event._id%>/edit">
          Edit this event
        </a>
      </h1>

    </div>
  </div>

  <div class="container">
    <h2>General Information:</h2>
    <table class="table table-bordered col-lg-6">
      <tr>
        <th scope="col">Minimum group size</th>
        <th scope="col"><%= event.minGroupSize%></th>
      </tr>
      <tr>
        <th scope="col">Maximum group size</th>
        <th scope="col"><%= event.maxGroupSize%></th>
      </tr>
    </table>
  </div>

  <div class="container mt-5">
    <h2>Current groups:</h2>
    <% event.groups.forEach((group) => { %>
      <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= group.name%></h5>
          <p class="card-text">I am a group.</p>
          <a href="/events/<%= event._id%>/groups/<%= group._id%>" class="btn btn-primary">See group details</a>
        </div>
    </div>
    <% }) %>
    <a class="btn btn-link mt-3" href="/events">Go back to events page</a>
  </div>

<%- include("../partials/footer") %>
