<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron jumbotronBackground">
    <div class="container">
      <h1 class="display-3"><%= event.name%></h1>
      <% if (!(event.bookmarks.includes(currentUser._id))) { %>
        <form action="/events/<%=event._id%>/addbookmark?_method=PUT" method="POST">
          <button class="btn btn-warning btn-sm ml-3 mb-3">
            <i class="fa fa-star mr-2" aria-hidden="true"></i>Bookmark this event
          </button>
        </form>
      <% } else { %>
        <form action="/events/<%=event._id%>/removebookmark?_method=PUT" method="POST">
          <button class="btn btn-warning btn-sm ml-3 mb-3">
            <i class="fa fa-star mr-2" aria-hidden="true"></i>Unbookmark this event
          </button>
        </form>
      <% } %>
      
      <% if (!(event.author.id == undefined) || (!event.author.username == undefined)) { %>
        <h6 class="ml-3 mb-4 text-secondary"><em>Submitted by <a class="textBlue" href="/users/<%=event.author.id%>"><%=event.author.username%></em></a></h6>
      <% } %>
      <div>
        <a class="btn text-light ml-3 btnBlue" href="<%= event.url%>" target="_blank">
          Go to event link
        </a>
        <% if (currentUser._id.equals(event.author.id)) { %>
          <a class="btn btn-success" href="/events/<%= event._id%>/edit">
            Edit this event
          </a>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Nav Bar -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/events/<%= event._id %>">Event Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="/events/<%= event._id %>/groups">Current Groups</a>
    </li>
  </ul>
</div>

<br>

<div class="container pr-5 text-justify">
  <h3><strong>Description</strong></h3>
  <p><%= event.desc %></p>
  <br>
  <h3><strong>Date</strong></h3>
  <p><%= event.date.toDateString() %></p>
  <br>
  <h3><strong>Registration deadline</strong></h3>
  <p><%= event.deadline.toDateString() %></p>
  <br>
  <h3><strong>Groups</strong></h3>
  <table class="table table-bordered mt-3 col-lg-6">
    <tr>
      <th scope="col">Minimum group size</th>
      <th scope="col"><%= event.minGroupSize%></th>
    </tr>
    <tr>
      <th scope="col">Maximum group size</th>
      <th scope="col"><%= event.maxGroupSize%></th>
    </tr>
  </table>
  <br>
  <h3><strong>Requirements</strong></h3>
  <p><%= event.requirements %></p>
  <br>
  <h3><strong>Prizes</strong></h3>
  <p><%= event.prizes %></p>
</div>

<%- include("../partials/footer") %>
