<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="mb-4 display-3">
        <%= event.name%>
        <div>
          <a class="btn btn-info ml-3" href="<%= event.url%>" target="_blank">
            See details
          </a>
          <a class="btn btn-success" href="/events/<%= event._id%>/edit">
            Edit this event
          </a>
        </div>
      </h1>
    </div>
  </div>

  <!-- Nav Bar -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/events/<%= event._id %>">Event Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="/events/<%= event._id %>/groups">Current Groups</a>
    </li>
  </ul>
</div>

<br>

<div class="container pr-5 text-justify">
  <h3><strong>Description</strong></h4>
  <p><%= event.desc %></p>
  <br>
  <h3><strong>Date</strong></h4>
  <p><%= event.date.toDateString() %></p>
  <br>
  <h3><strong>Requirements</strong></h4>
  <p><%= event.requirements %></p>
  <br>
  <h3><strong>Prizes</strong></h4>
  <p><%= event.prizes %></p>
  <br>
  <table class="table table-bordered col-lg-6">
    <tr>
      <th scope="col">Minimum group size</th>
      <th scope="col"><%= event.minGroupSize%></th>
    </tr>
    <tr>
      <th scope="col">Maximum group size</th>
      <th scope="col"><%= event.maxGroupSize%></th>
    </tr>
  </table>
</div>

<%- include("../partials/footer") %>
