<%- include("../partials/header")%>

  <div class="container">
    <h1 class="text-center">Sign up</h1>
    
    <div style="width: 30%; margin: 25px auto;">
      <form action="/register" method="POST">
        <div class="form-group">
          <label>Your full name <span style="color:red">*</span> :</label>
          <% if (typeof data.name == 'undefined') {%>
          <input class="form-control" type="text" name="name" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="name" value="<%= data.name%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Your email <span style="color:red">*</span> :</label>
          <% if (typeof data.email == 'undefined') {%>
            <input class="form-control" type="email" name="email" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="email" value="<%= data.email%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Pick a username <span style="color:red">*</span> :</label>
          <% if (typeof data.username == 'undefined') {%>
          <input class="form-control" type="text" name="username" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="username" value="<%= data.username%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Enter a password <span style="color:red">*</span> :</label>
          <input class="form-control" type="password" id="password" name="password" minlength="8" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <meter id="passwordMeter" max="4"></meter>
          <p id="strengthText"></p>
        </div>
        <div class="form-group">
          <label>Confirm your password <span style="color:red">*</span> :</label>
          <input class="form-control" type="password" name="passwordConfirm" id="passwordConfirmation" onkeyup="check()" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <p id='confirmText'></p>
        </div>
        <div class="form-group">
          <label>Your organization <span style="color:red">*</span> :</label>
          <% if (typeof data.organization == 'undefined') {%>
            <input class="form-control" type="text" name="organization" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="organization" value="<%= data.organization%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Profile picture:</label>
          <h6 class="text-primary mb-2" style="font-size: 0.8rem;"><em>Please choose only .jpg, .jpeg and .png image files of size 1.0MB.</em></h6>
          <input type="file" class="form-control-file" name="file">
        </div>
        <div class="mb-3" style="color:red">* required</div>
        <button id="submit" class="btn btn-success btn-block mb-5">Register!</button>
      </form>
    </div>
    <script>
      const passwordField = document.getElementById('password')
      const passwordConfirm = document.getElementById('passwordConfirmation')
      const confirmText = document.getElementById('confirmText')
      const register = document.getElementById('submit')
      function check() {
        if (passwordField.value && passwordField.value ==
          passwordConfirm.value) {
          confirmText.style.color = 'green';
          confirmText.innerHTML = 'Passwords match!';
          register.disabled = false
        } else {
          confirmText.style.color = 'red';
          confirmText.innerHTML = 'Password does not match.';
          register.disabled = true
        }
    }
    const meterField = document.getElementById("passwordMeter")
    const strengthText = document.getElementById("strengthText")
    let strength = {
      0: "Very weak",
      1: "Weak",
      2: "Medium",
      3: "Good",
      4: "Strong"
    }
    meterField.style.display = 'none'
    passwordField.addEventListener('input', () => {
      let value = passwordField.value
      let checkResult = zxcvbn(value)
      meterField.style.display = 'block'
      meterField.value = checkResult.score
      if (value !== "") {
        strengthText.innerHTML = "Password strength: " + strength[checkResult.score]
      } else {
        strengthText.innerHTML = ""
      }
    }) 
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
  </div>

<%- include("../partials/footer")%>
