<!DOCTYPE html>
<html>
    <head>
        <title>Group'd</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/search-filter.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">    
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a id="logo" class="navbar-brand" href="/events">group'd</a>
        </nav>

        <div class="container mt-3">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>

  <div class="container">
    <h1 class="text-center">Sign up</h1>
    
    <div class="mb-3" style="width: 40%; margin: 25px auto;">
      <form action="/register" method="POST">
        <div class="form-group">
          <label>Your full name <span class="textRed">*</span> :</label>
          <% if (typeof data.name == 'undefined') {%>
          <input class="form-control" type="text" name="name" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="name" value="<%= data.name%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Your email <span class="textRed">*</span> :</label>
          <% if (typeof data.email == 'undefined') {%>
            <input class="form-control" type="email" name="email" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="email" value="<%= data.email%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Pick a username <span class="textRed">*</span> :</label>
          <% if (typeof data.username == 'undefined') {%>
          <input class="form-control" type="text" name="username" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="username" value="<%= data.username%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Enter a password <span class="textRed">*</span> :</label>
          <input class="form-control" type="password" id="password" name="password" minlength="8" onkeyup="check()" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <meter id="passwordMeter" max="4"></meter>
          <p id="strengthText"></p>
        </div>
        <div class="form-group">
          <label>Confirm your password <span class="textRed">*</span> :</label>
          <input class="form-control" type="password" name="passwordConfirm" id="passwordConfirmation" onkeyup="check()" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <p id='confirmText'></p>
        </div>
        <div class="form-group">
          <label>Your organization <span class="textRed">*</span> :</label>
          <% if (typeof data.organization == 'undefined') {%>
            <input class="form-control" type="text" name="organization" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } else { %>
            <input class="form-control" type="text" name="organization" value="<%= data.organization%>" required pattern=".*\S+.*" title="This field is required, please enter a valid input">
          <% } %>
        </div>
        <div class="form-group">
          <label>Profile picture:</label>
          <h6 class="mb-2" style="color: #d5445c;font-size: 0.8rem;"><em>Please choose only .jpg, .jpeg and .png image files of size 1.0MB.</em></h6>
          <input type="file" class="form-control-file" name="file">
        </div>
        <div class="mb-3 textRed">* required</div>
        <button id="submit" class="btn btn-block btnBlue text-light">Register!</button>
      </form>
    </div>
    <div class="container text-center">
      <a class="m-auto textBlue" href="/">Go back</a>
    </div>
    <script>
      const passwordField = document.getElementById('password')
      const passwordConfirm = document.getElementById('passwordConfirmation')
      const confirmText = document.getElementById('confirmText')
      const register = document.getElementById('submit')
      function check() {
        if (passwordField.value && passwordField.value ==
          passwordConfirm.value) {
          confirmText.style.color = 'green';
          confirmText.innerHTML = 'Passwords match!';
          register.disabled = false
        } else {
          confirmText.style.color = '#d5445c';
          confirmText.innerHTML = 'Password does not match.';
          register.disabled = true
        }
    }
    const meterField = document.getElementById("passwordMeter")
    const strengthText = document.getElementById("strengthText")
    let strength = {
      0: "Very weak",
      1: "Weak",
      2: "Medium",
      3: "Good",
      4: "Strong"
    }
    meterField.style.display = 'none'
    passwordField.addEventListener('input', () => {
      let value = passwordField.value
      let checkResult = zxcvbn(value)
      meterField.style.display = 'block'
      meterField.value = checkResult.score
      if (value !== "") {
        strengthText.innerHTML = "Password strength: " + strength[checkResult.score]
        if(checkResult.score === 4) {
          strengthText.style.color = 'green'
        }
      } else {
        strengthText.innerHTML = ""
      }
    }) 
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
  </div>

<%- include("../partials/footer")%>
