<%- include("../partials/header") %>

<div class="container">
        <h1 class="display-4 pt-5"><strong><%= group.name%>'s Forum</strong></h1>
        <h6>Group Leader: <%= group.groupLeader.name %></h6>
        <h6><em><%=group.description%></em></h6>
        <hr>

        <!-- Side Bar -->
        <% if(group.users.includes(currentUser._id)) { %>
            <div class="col-md-3 mb-5 float-right text-center">
            <div class="list-group">
                <li class="list-group-item">
                <a href="/events/<%= event._id %>/groups/<%= group._id %>" class="text-dark">Group Page</a>
                </li>
                <li class="list-group-item active">
                <a href="/events/<%= event._id %>/groups/<%= group._id%>/forum" class="text-light">Group Forum</a>
                </li>
                
                <% if(currentUser._id.equals(group.groupLeader.id)) { %>
                <li class="list-group-item text-decoration-none justify-content-between align-items-center">
                    <a href="/events/<%= event._id %>/groups/<%= group._id %>/pending" class="text-dark">
                    Pending Requests
                    </a> 
                    <span class="badge badge-warning badge-pill"><%=group.pending.length%></span>
                </li>
                
                <li class="list-group-item">
                    <a href="/events/<%= event._id %>/groups/<%= group._id %>/edit" class="text-dark">
                    Group Settings
                    </a> 
                </li>
                <% if (group.users.length === 1 && group.pending.length === 0) { %>
                    <li class="list-group-item">
                    <form id="deleteGroup" action="/events/<%= event._id %>/groups/<%= group._id%>/delete?_method=PUT" method="POST">
                        <button onclick="deleteGroup()" class="btn btn-sm text-danger">Delete Group</button>
                    </form>
                    </li>
                    <% } else { %>
                        <li class="list-group-item">
                          <form id="deleteGroup" action="/events/<%= event._id %>/groups/<%= group._id%>/delete?_method=PUT" method="POST">
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="You must remove all existing members and resolve outstanding pending requests before you can delete this group.">
                              <button disabled class="btn btn-sm text-danger" style="pointer-events: none;">
                                Delete Group
                              </button> 
                            </span> 
                          </form>
                        </li>
                    <% } %>
                <% } else { %>
                <li class="list-group-item">
                    <form id="leaveGroup" action="/events/<%= event._id%>/groups/<%= group._id%>/leave?_method=PUT" method="POST">
                    <button onClick="leaveGroupAlert()" class="btn btn-sm text-danger">Leave Group</button>  
                    </form>
                </li>
                <% } %>
            </div>
            </div>
        <% } %>

        <!-- Forum -->
        <div class="col-md-8">
            <% if (group.messages.length === 0) { %>
                <h6 class="text-secondary mt-4 mb-4">There are currently no messages.</h6>
            <% } %>
            <div class="overflow-auto container" style="height:auto; width:100%; max-height:400px" id="messageThread">
            <% group.messages.forEach(message => { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= message.author.username%></strong>
                        <span class="pull-right text-primary">
                            <small><em><%= message.date%> @ </em></small>
                        </span>
                        <span class="pull-right text-primary">
                            <small><em><%= message.time%></em></small>
                        </span>
                        <% if (message.author.id.equals(currentUser._id)) {%> 
                        <span class="pull-right">
                            <form id="delete" class="d-inline ml-2" action="/events/<%=event._id%>/groups/<%=group._id%>/forum/<%=message._id%>?_method=DELETE" method="POST">
                                <button onclick="proceed()" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </span>
                        <% } %>
                        <p style="width:90%">
                            <%= message.text %>
                        </p>
                    </div>
                </div>
            <% }) %>
            <hr>
        </div> 
        <form action="/events/<%= event._id %>/groups/<%= group._id%>/forum" method="POST">
            <div class="form-group">
                <textarea class="form-control" placeholder="Add a new message" name="message[text]" required></textarea>
            </div>  
            <button class="btn btnBlue text-light">Submit</button>
        </form>
    </div>
    <div class="mt-5 mb-5">
        <a href="/events/<%= event._id%>">Go back to <%= event.name%></a>    </div>
    </div>
<script>
    const messageThread = document.querySelector("#messageThread")
    messageThread.scrollTop = messageThread.scrollHeight
    function proceed() {
        if (confirm("Are you sure you want to delete this message?")) {
            document.querySelector("#delete").submit()
        } else {
            event.preventDefault()
        }
    }
</script>

<%- include("../partials/footer") %>