<%- include("../partials/header") %>

    <div class="container">
            <h1 class="display-4 pt-5"><strong><%= group.name%>'s Forum</strong></h1>
            <h6>Group Leader: <%= group.groupLeader.name %></h6>
            <h6><em><%=group.description%></em></h6>
            <hr>
            <% if (group.messages.length === 0) { %>
                <h6 class="text-secondary mt-4 mb-4">There are currently no messages.</h6>
            <% } %>
            <div class="overflow-auto container" style="height:auto; width:100%; max-height:400px" id="messageThread">
            <% group.messages.forEach(message => { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= message.author.username%></strong>
                        <span class="pull-right text-primary">
                            <small><em><%= message.date%> @ </em></small>
                        </span>
                        <span class="pull-right text-primary">
                            <small><em><%= message.time%></em></small>
                        </span>
                        <% if (message.author.id.equals(currentUser._id)) {%> 
                        <span class="pull-right">
                            <form id="delete" class="d-inline ml-2" action="/events/<%=event._id%>/groups/<%=group._id%>/forum/<%=message._id%>?_method=DELETE" method="POST">
                                <button onclick="proceed()" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </span>
                        <% } %>
                        <p style="width:90%">
                            <%= message.text %>
                        </p>
                    </div>
                </div>
            <% }) %>
            <hr>
        </div> 
        <form action="/events/<%= event._id %>/groups/<%= group._id%>/forum" method="POST">
            <div class="form-group">
                <textarea class="form-control" placeholder="Add a new message" name="message[text]" required></textarea>
            </div>  
            <button class="btn btn-primary">Submit</button>
        </form>
        <div class="mt-5 mb-5">
            <a href="/events/<%= event._id%>/groups/<%= group._id%>">Go back to <%= group.name%></a>
        </div>
    </div>
    <script>
        const messageThread = document.querySelector("#messageThread")
        messageThread.scrollTop = messageThread.scrollHeight
        function proceed() {
            if (confirm("Are you sure you want to delete this message?")) {
                document.querySelector("#delete").submit()
            } 
        }
    </script>

<%- include("../partials/footer") %>