<%- include("../partials/header") %>

<div class="container">
    <h1 class="display-4 pt-5">You are viewing: <strong><%= group.name%></strong></h1>
    <h6>Created By <%= group.groupLeader.name %></h6>
    <h6><%=group.description%></h6>
    <hr>

    <div class="row">
      <div class="col-md-9">
        <h3 class="mb-4">Pending Requests:</h3>
        <% if(group.pending.length == 0) { %>
          <h4 class="mt-3">There are currently no pending requests.</h4>
        <% } else { %>
          <% group.pending.forEach((pending) => { %>
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-body">
                      <h6 class="card-title"><%= pending.name%></h6>
                      <a href="/users/<%= pending._id%>" class="card-text">Click to view full profile</a>
                      <div class="mt-3">
                          <form action="/events/<%= event._id %>/groups/<%= group._id %>/pending/<%= pending._id %>?_method=PUT" method="POST">
                              <input type="submit" name="action" value="Accept" class="btn btn-success">
                              <input type="submit" name="action" value="Reject" class="btn btn-danger">
                          </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          <% })%>
        <% } %>

        <div class="mt-5">
          <a href="/events/<%= event._id%>">Go back to <%= event.name%></a>
        </div>
      </div>

      <!-- Side Bar -->
      <% if(group.users.includes(currentUser._id)) { %>
        <div class="col-md-2 float-right text-center">
          <p class="lead"><strong>Settings</strong></p>
          <div class="list-group">
            <li class="list-group-item">
              <a href="/events/<%= event._id %>/groups/<%= group._id %>" class="text-dark">Group Page</a>
            </li>
            <li class="list-group-item">Group Chat</li>
            <% if(String(currentUser._id) == String(group.groupLeader.id)){ %>
              <li class="list-group-item text-decoration-none active">
                <a href="/events/<%= event._id %>/groups/<%= group._id %>/pending" class="text-light">
                  Pending Requests: <strong><%=group.pending.length%></strong> 
                </a> 
              </li>
            <% } %>
            <% if(String(currentUser._id) == String(group.groupLeader.id)){ %>
              <li class="list-group-item">
                <a href="/events/<%= event._id %>/groups/<%= group._id %>/edit" class="text-dark">
                  Edit Group
                </a> 
              </li>
              <% if(!(group.isClosed) && (group.users.length >= event.minGroupSize)) { %> 
              <form action="/events/<%= event._id %>/groups/<%= group._id%>/close?_method=PUT" method="POST">
                <button class="btn btn-danger mt-3">Close Group</button>
              </form>
              <% } else { %>
                <% if(group.isClosed) { %> 
                <p class="text-secondary mt-3">You have closed this group!</p>
                <% } %>
              <% } %>
            <% } else { %>
              <li class="list-group-item">
                <form action="/events/<%= event._id%>/groups/<%= group._id%>/leave?_method=PUT" method="POST">
                  <button class="btn btn-sm text-danger" style="border: none; background: none;">Leave Group</button>  
                </form>
              </li>
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </div>

<%- include("../partials/footer") %>
