<%- include("../partials/header") %>

<div class="container">
  <h1 class="display-4 pt-5"><strong><%= group.name%></strong></h1>
  <h6>Group Leader: <%= group.groupLeader.name %></h6>
  <h6><em><%=group.description%></em></h6>
  <hr>

  <!-- Side Bar -->
  <% if(group.users.includes(currentUser._id)) { %>
    <div class="col-md-3 mb-5 float-right text-center">
      <div class="list-group">
        <li class="list-group-item">
          <a href="/events/<%= event._id %>/groups/<%= group._id %>" class="text-dark">Group Page</a>
        </li>
        <li class="list-group-item">
          <a href="/events/<%= event._id %>/groups/<%= group._id%>/forum" class="text-dark">Group Forum</a>
        </li>
        
        <% if(String(currentUser._id) == String(group.groupLeader.id)){ %>
          <li class="list-group-item text-decoration-none active justify-content-between align-items-center">
            <a href="/events/<%= event._id %>/groups/<%= group._id %>/pending" class="text-light">
              Pending Requests
            </a> 
            <span class="badge badge-warning badge-pill"><%=group.pending.length%></span>
          </li>
        <% } %>
        <% if(currentUser._id.equals(group.groupLeader.id)) { %>
          <li class="list-group-item">
            <a href="/events/<%= event._id %>/groups/<%= group._id %>/edit" class="text-dark">
              Group Settings
            </a> 
          </li>
          <% if (group.users.length === 1 && group.pending.length === 0) { %>
            <li class="list-group-item">
              <form id="deleteGroup" action="/events/<%= event._id %>/groups/<%= group._id%>/delete?_method=PUT" method="POST">
                <button onclick="deleteGroup()" class="btn btn-sm textRed">Delete Group</button>
              </form>
            </li>
            <% } else { %>
              <li class="list-group-item">
                <form id="deleteGroup" action="/events/<%= event._id %>/groups/<%= group._id%>/delete?_method=PUT" method="POST">
                  <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="You must remove all existing members and resolve outstanding pending requests before you can delete this group.">
                    <button disabled class="btn btn-sm textRed" style="pointer-events: none;">
                      Delete Group
                    </button> 
                  </span> 
                </form>
              </li>
          <% } %>

        <% } else { %>
          <li class="list-group-item">
            <form id="leaveGroup" action="/events/<%= event._id%>/groups/<%= group._id%>/leave?_method=PUT" method="POST">
              <button onClick="leaveGroupAlert()" class="btn btn-sm textRed">Leave Group</button>  
            </form>
          </li>
        <% } %>
      </div>
    </div>
  <% } %>

  <div class="row">
    <div class="col-md-9">
      <h3 class="mb-4">Pending Requests:</h3>
      <% if(group.pending.length == 0) { %>
        <h5 class="mt-3 text-secondary"><em>There are currently no pending requests.</em></h5>
      <% } else { %>
        <% group.pending.forEach((pending) => { %>
          <div class="row">
            <div class="col-lg-9">
              <div class="card">
                <div class="card-body">
                    <h6 class="card-title"><%= pending.name%></h6>
                    <a href="/users/<%= pending._id%>" class="card-text">Click to view full profile</a>
                    <div class="mt-3">
                      <div class="row d-flex">
                        <div class="mx-2">
                          <% if (group.users.length === event.maxGroupSize - 1) { %> 
                            <form action="/events/<%= event._id %>/groups/<%= group._id %>/pending/<%= pending._id %>?_method=PUT" method="POST" onsubmit="return acceptLast()">
                              <input type="submit" name="action" value="Accept" class="btn btn-sm btn-success">
                            </form>
                          <% } else { %>
                            <form action="/events/<%= event._id %>/groups/<%= group._id %>/pending/<%= pending._id %>?_method=PUT" method="POST" onsubmit="return accept()">
                              <input type="submit" name="action" value="Accept" class="btn btn-sm btn-success">
                            </form>
                          <% } %> 
                        </div>
                        <form action="/events/<%= event._id %>/groups/<%= group._id %>/pending/<%= pending._id %>?_method=PUT" method="POST" onsubmit="return reject()">
                          <input type="submit" name="action" value="Reject" class="btn btn-sm text-light btnRed">
                      </form>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% })%>
      <% } %>
      
      <div class="mt-5">
        <a class="textBlue" href="/events/<%= event._id%>">Go back to <%= event.name%></a>
      </div>
    </div>  
  </div>
</div>
<script>
  function deleteGroup() {
      if(confirm("This action is irreversible. Proceed?")) {
        document.querySelector("#deleteGroup").submit()
      } else {
        event.preventDefault()
      }
    }
  const remaining = <%=(event.maxGroupSize - group.users.length - 1)%>
  function accept(){ 
    if(confirm(`You will only be able to accept ${remaining} more member(s) after this. Proceed?`)) {
      return true;
    } else {
      return false;
    }
  }

  function acceptLast() {
    if(confirm("The remaining pending requests will be automatically rejected. Proceed?")) {
      return true;
    } else {
      return false;
    }
  }

  function reject() {
    if(confirm("This member can no longer join this group in the future. Proceed?")) {
      return true;
    } else {
      return false;
    }
  }

</script>

<script>
  function leaveGroupAlert() {
      if (confirm("You will not be able to join this group again. Proceed?")) {
          document.querySelector("#leaveGroup").submit()
      } else {
          event.preventDefault()
      }
  }
</script>

<%- include("../partials/footer") %>
