<%- include("../partials/header") %>

<div class="container">
    <h1 class="display-4 pt-5">You are viewing: <strong><%= group.name%></strong></h1>
    <h6>Created By <%= group.groupLeader.name %></h6>
    <h6><%=group.description%></h6>
    <hr>

    <div class="row">
      <div class="col-md-9">
        <h3 class="mb-4">Pending Requests:</h3>
        <% group.pending.forEach((pending) => { %>
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                    <h6 class="card-title"><%= pending.name%></h6>
                    <a href="/users/<%= pending._id%>" class="card-text">Click to view full profile</a>
                    <div class="mt-3">
                        <form action="/events/<%= event._id %>/groups/<%= group._id %>/pending/<%= pending._id %>" method="POST">
                            <input type="submit" name="action" value="Accept" class="btn btn-success">
                            <input type="submit" name="action" value="Reject" class="btn btn-danger">
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <% })%>

        <div class="mt-5">
          <a class="btn btn-success" href="/events/<%= event._id%>">Go back to <%= event.name%></a>
        </div>
      </div>

      <div class="col-md-2 float-right text-center">
        <p class="lead"><strong>Settings</strong></p>
        <div class="list-group">
            <li class="list-group-item">
                <a href="/events/<%= event._id %>/groups/<%= group._id %>" class="text-dark">Group Page</a>
            </li>
            <li class="list-group-item">Group Chat</li>
            <li class="list-group-item active">
                <a href="/events/<%= event._id %>/groups/<%= group._id %>/pending" class="text-light">Pending Requests</a>
            </li>
            <li class="list-group-item text-danger">Delete Group</li>
        </div>
      </div>
    </div>
  </div>

<%- include("../partials/footer") %>
