<%- include("../partials/header") %>

<div class="container">
  <h1 class="display-4 pt-5">You are viewing: <strong><%= group.name%></strong></h1>
  <h6>Created By: <%= group.groupLeader.name %></h6>
  <h6><em><%=group.description%></em></h6>
  <hr>

  <div class="row">
    <div class="col-md-9">
      <h3 class="mb-4">Current Members:</h3>
      <% if (users.includes(currentUser._id)) { %>
        <h6 class="text-secondary mt-4 mb-4">You are currently a member of <%= group.name%></h6>
      <% } else if (group.pending.includes(currentUser._id)) { %>
        <h6 class="text-secondary mt-4 mb-4">Your request to join <%= group.name%> is pending</h6>
      <% } else if (group.rejected.includes(currentUser._id)) { %>
        <h6 class="text-danger mt-4 mb-4">Your request to join <%= group.name%> has been rejected</h6>
      <% } %>

      <% group.users.forEach((user) => { %>
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <% if(user._id.equals(currentUser._id)) { %>
                  <h6 class="card-title">You</h6>
                <% } else { %>
                  <h6 class="card-title"><%= user.name%></h6>
                  <a href="/users/<%= user._id%>" class="card-text">Click to view full profile</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      <% })%>

      <div class="mt-5">
        <% if(!(group.users.length == event.maxGroupSize) 
              && (!(allUsers.includes(String(currentUser._id)))) 
              && (!(allPending.includes(String(currentUser._id))))
              && (!(group.rejected.includes(currentUser._id))) 
        ) { %>
          <form action="/events/<%= event._id%>/groups/<%= group._id%>?_method=PUT" method="post">
            <button class="btn btn-success mb-5">Join this group</button>
          </form>
        <% } %>

        <a class="btn btn-success" href="/events/<%= event._id%>">Go back to <%= event.name%></a>
      </div>
    </div>
          
    <% if(users.includes(currentUser._id)) { %>
      <div class="col-md-2 float-right text-center">
        <p class="lead"><strong>Settings</strong></p>
        <div class="list-group">
          <li class="list-group-item active">
            <a href="/events/<%= event._id %>/groups/<%= group._id %>" class="text-light">Group Page</a>
          </li>
          <li class="list-group-item">Group Chat</li>
          <% if(String(currentUser._id) == String(group.groupLeader.id)){ %>
            <li class="list-group-item text-decoration-none">
              <a href="/events/<%= event._id %>/groups/<%= group._id %>/pending" class="text-dark">
                Pending Requests: <strong><%=group.pending.length%></strong> 
              </a> 
            </li>
          <% } %>
          <% if(String(currentUser._id) == String(group.groupLeader.id)){ %>
            <li class="list-group-item text-danger">Delete Group</li>
            <% if(!(group.isClosed) && (group.users.length >= event.minGroupSize)) { %> 
            <form action="/events/<%= event._id %>/groups/<%= group._id%>/close?_method=PUT" method="POST">
              <button class="btn btn-warning mt-3">Close Group</button>
            </form>
            <% } else { %>
              <% if(group.isClosed) { %> 
              <p class="text-secondary mt-3">You have closed this group!</p>
              <% } %>
            <% } %>
          <% } else { %>
            <li class="list-group-item text-danger">Leave Group</li>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include("../partials/footer") %>
