<%- include("../partials/header") %>
  <div class="container">
    <h1 class="display-4 pt-5">You are viewing: <strong><%= group.name%></strong></h1>
    <h6><%=group.description%></h6>
    <hr>
    <h3>Current members:</h3>
    <% group.users.forEach((user) => { %>
      <div class="row d-inline">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"><%= user.name%></h6>
              <a href="/users/<%= user._id%>" class="card-text">Click to view full profile</a>
            </div>
          </div>
        </div>
      </div>
    <% })%>
    </div>
    <div class="container mt-5">
      <% if(!(group.size == event.maxGroupSize) && !(users.includes(currentUser._id))) { %>
        <form action="/events/<%= event._id%>/groups/<%= group._id%>?_method=PUT" method="post">
          <button class="btn btn-success mb-5">Join this group</button>
        </form>
      <% } else { %>
        <% if (users.includes(currentUser._id)) { %>
          <div class="container mb-5">
            <h4 class="text-secondary">You are currently a member of <%= group.name%></h4>
          </div>
          <% } %>
      <% }%>
      <a class="ml-3" href="/events/<%= event._id%>">Go back to <%= event.name%></a>
    </div>


<%- include("../partials/footer") %>
