<%- include("../partials/header") %>

<div class="container">
  <h1 class="display-4 pt-5">You are viewing: <strong><%= group.name%></strong></h1>
  <h6>Group Leader: <%= group.groupLeader.name %></h6>
  <h6><em><%=group.description%></em></h6>
  <hr>

  <!-- Side Bar -->
  <% if(users.includes(currentUser._id)) { %>
    <div class="col-md-3 mb-5 float-right text-center">
      <div class="list-group">
        <li class="list-group-item active">
          <a href="/events/<%= event._id %>/groups/<%= group._id %>" class="text-light">Group Page</a>
        </li>
        <li class="list-group-item">
          <a href="/events/<%= event._id %>/groups/<%= group._id%>/forum" class="text-dark">Group Forum</a>
        </li>
        
        <% if(currentUser._id.equals(group.groupLeader.id)) { %>
          <li class="list-group-item text-decoration-none justify-content-between align-items-center">
            <a href="/events/<%= event._id %>/groups/<%= group._id %>/pending" class="text-dark">
              Pending Requests
            </a> 
            <span class="badge badge-warning badge-pill"><%=group.pending.length%></span>
          </li>
        
          <li class="list-group-item">
            <a href="/events/<%= event._id %>/groups/<%= group._id %>/edit" class="text-dark">
              Group Settings
            </a> 
          </li>
          <% if (group.users.length === 1 && group.pending.length === 0) { %>
            <li class="list-group-item">
              <form id="deleteGroup" action="/events/<%= event._id %>/groups/<%= group._id%>/delete?_method=PUT" method="POST">
                <button onclick="deleteGroup()" class="btn btn-sm text-danger">Delete Group</button>
              </form>
            </li>
          <% } %>
        <% } else { %>
          <li class="list-group-item">
            <form action="/events/<%= event._id%>/groups/<%= group._id%>/leave?_method=PUT" method="POST">
              <button class="btn btn-sm text-danger">Leave Group</button>  
            </form>
          </li>
        <% } %>
      </div>
    </div>
  <% } %>

  <% if (group.isDeleted) { %>
    <h3>The group you are viewing has been deleted.</h3>
  <% } else { %>

  <div class="row">
    <div class="col-md-9">
      <h3 class="mb-4">Current Members:</h3>
      <% if (group.groupLeader.id.equals(currentUser._id)) { %>
        <h6 class="text-secondary mt-4 mb-4">You are currently the leader of <%= group.name%></h6>
      <% } else if (!(group.groupLeader.id.equals(currentUser._id))
        && users.includes(currentUser._id)) { %>
        <h6 class="text-secondary mt-4 mb-4">You are currently a member of <%= group.name%></h6>
      <% } else if (group.pending.includes(currentUser._id)) { %>
        <h6 class="text-secondary mt-4 mb-4">Your request to join <%= group.name%> is pending</h6>
      <% } else if (group.rejected.includes(currentUser._id)) { %>
        <h6 class="text-danger mt-4 mb-4">Your request to join <%= group.name%> has been rejected</h6>
      <% } else if (group.removed.includes(currentUser._id)) { %>
        <h6 class="text-danger mt-4 mb-4">You have been removed from <%= group.name%></h6>
      <% } else if (group.left.includes(currentUser._id)) { %>
        <h6 class="text-danger mt-4 mb-4">You have left <%= group.name%></h6>
      <% } %>

      <% group.users.forEach((user) => { %>
        <div class="row">
          <div class="col-lg-9 mt-3">
            <div class="card">
              <div class="card-body">
                <% if(user._id.equals(currentUser._id)) { %>
                  <h6 class="card-title">You</h6>
                <% } else { %>
                  <h6 class="card-title"><%= user.name%></h6>
                  <a href="/users/<%= user._id%>" class="card-text">Click to view full profile</a>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      <% })%>

      <div class="mt-5">
        <% if (group.pending.includes(currentUser._id)) { %>
          <form action="/events/<%= event._id%>/groups/<%= group._id%>/cancel?_method=PUT" method="post">
            <button class="btn btn-danger mb-5">Cancel Join Request</button>
          </form>
        <% } else if (!(group.users.length == event.maxGroupSize) 
              && (!(allUsers.includes(String(currentUser._id)))) 
              && (!(allPending.includes(String(currentUser._id))))
              && (!(group.rejected.includes(currentUser._id)))
              && (!(group.removed.includes(currentUser._id))
              && (!(group.left.includes(currentUser._id)))) 
           ) { %>
          <form action="/events/<%= event._id%>/groups/<%= group._id%>?_method=PUT" method="post">
            <button class="btn btn-success mb-5">Join this group</button>
          </form>
        <% } %>
        <a href="/events/<%= event._id%>">Go back to <%= event.name%></a>
      </div>
    </div>
  </div>
</div>
<% } %>
<script>
  function deleteGroup() {
      if(confirm("This action is irreversible. Proceed?")) {
        document.querySelector("#deleteGroup").submit()
      } else {
        event.preventDefault()
      }
    }
</script>


<%- include("../partials/footer") %>
