<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1 class="mb-4 display-3"><%= user.name %>'s Bookmarks</h1>
    </div>
    <div class="mb-5">
        <% if(currentUser._id.equals(user._id)) { %> 
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/users/<%= user._id %>">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/users/<%= currentUser._id %>/pending">My Groups</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link active" href="/users/<%= currentUser._id %>/bookmarks">My Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/users/<%= currentUser._id %>/notifications">My Activity Log</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/users/<%= user._id %>/edit">Edit Profile</a>
                        <a class="dropdown-item" href="/users/<%= user._id%>/change_password">Change Password</a>
                    </div>
                </li>
            </ul>
        <% } %>  
    </div>
    <div class="container">
        <div class="row mb-5">
            <% if (bookmarks.length === 0) { %> 
                <h6 class="text-secondary"><em>You currently have not bookmarked any events.</em></h6>
            <% } else { %>
                <% bookmarks.forEach((bookmark) => { %>
                    <div class="col-sm-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><a href="/events/<%= bookmark._id %>"><%= bookmark.name %></a></h4>
                                <h6 class="card-subtitle mb-2 text-muted">Happening on <%= bookmark.date.toDateString() %></h6>
                                <p class="card-text"><%= bookmark.desc.substring(0, 135) %>...</p>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
          </div>
    </div>
</div>
<%- include("../partials/footer") %>