<%- include("../partials/header") %>

<div class="jumbotron pt-2 pb-2">
    <div class="container">
      <h1 class="display-4">Edit your profile</h1>
    </div>
  </div>
  <div class="container">
    <form action="/users/<%= user._id%>?_method=PUT" method="POST">
      <div class="form-group">
        <label class="text-primary" for="profilePic">Profile Pic:</label>
        <input class="form-control" id="profilePic" type="text" name="user[profilePic]" value="<%= user.profilePic %>">
      </div>
      <div class="form-group">
        <label class="text-primary" for="bio">Bio:</label>
        <input class="form-control" id="bio" type="text" name="user[bio]" value="<%= user.bio %>">
      </div>
      <div class="form-group">
        <label class="text-primary" for="email">Email:</label>
        <input class="form-control" id="email" type="text" name="user[email]" value="<%= user.email %>">
      </div>
      <div class="form-group">
        <label class="text-primary" for="organization">Organization:</label>
        <input class="form-control" id="organization" type="text" name="user[organization]" value="<%= user.organization %>">
      </div>
      <button class="btn btn-primary" href="/users/<%= user._id%>">Go back</button>
      <input class="btn btn-success" type="submit">
    </form>
  </div>

<%- include("../partials/footer") %>