<%- include("../partials/header") %>
    
    <div class="container">
        <div class="jumbotron">
            <h1 class="mb-4 display-3"><%= currentUser.name %>'s Activity Log</h1>
        </div>
        <div class="mb-5">
            <% if(currentUser._id.equals(user._id)) { %> 
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/users/<%= user._id %>">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/users/<%= currentUser._id %>/pending">My Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/users/<%= currentUser._id %>/bookmarks">My Bookmarks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/users/<%= currentUser._id %>/notifications">My Activity Log</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/users/<%= user._id %>/edit">Edit Profile</a>
                            <a class="dropdown-item" href="/users/<%= user._id%>/change_password">Change Password</a>
                        </div>
                    </li>
                </ul>
            <% } %>  
        </div>
        
        <table class="table">
            <% if(notifs.length === 0) { %>
                <caption><em>No new activity.</em></caption>
            <% } else { %>
                <% notifs.forEach((notif) => { %>
                    <tr>
                        <td>
                            <span class="pull-right textBlue">
                                <small><em><%= notif.date.toDateString() %> @ </em></small>
                            </span>
                            <span class="pull-right textBlue mr-2">
                                <small><em><%= notif.date.toLocaleTimeString("en-US", 
                                    {
                                        hour: "numeric",
                                        minute: "numeric",
                                        timeZone: "Asia/Singapore"
                                    }
                                    )%></em></small>
                            </span>
                            <%= notif.text %>
                        </td>
                        <td class="mb-1 container float-right">
                            <div class="row">
                                <div class="col-2 mr-1">
                                    <a class="btn btn-link text-success d-inline-block px-0 py-0" href="/events/<%=notif.event._id%>/groups/<%=notif.group._id%>">View</a>
                                </div>
                                <div class="col-2">
                                    <form action="/users/<%=currentUser._id%>/notifications/<%=notif._id%>?_method=DELETE" method="POST" class="d-inline-block">
                                        <button class="btn btn-link textRed ml-2 px-0 py-0">Clear</button>
                                    </form>        
                                </div>
                            </div>
                        </td>
                    </tr>    
                <% }) %>
            <% } %>
        </table>
            
    </div>
    

<%- include("../partials/footer") %>