<%- include("../partials/header") %>
<div class="container">
    <div class="jumbotron">
        <h1 class="mb-4 display-3"><%= user.name %></h1>
    </div>
    <div class="row">        
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card m-0" style="width: 100%">
                <% if(!user.profilePic){ %>
                    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                <% } else { %>
                    <img class="card-img-top" src="<%= user.profilePic %>">
                <% } %>            
                <div class="card-body">
                  <h5 class="card-title">@<%= user.username %></h5>
                  <p class="card-text"><%= user.bio %></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 col-sm-12 pt-md-1 pt-sm-4">
            <h4>Email: <%= user.email %></h4>
            <h4>Organisation: <%= user.organization %></h4>
            <br>
            <% if(String(user._id) === String(currentUser._id)){ %>
                <a class="btn btn-primary btn-lg" href="/users/<%= user._id %>/edit">Edit Profile</a>
            <% } %>
        </div>
        <% if(currentUser._id.equals(user._id)) { %> 
            <div class="col-lg-3 float-right text-center">
                <p class="lead"><strong>Options</strong></p>
                <div class="list-group">
                  <li class="list-group-item">
                    <a href="/users/<%= user._id%>/pending">View Groups</a>
                  </li>
                  <li class="list-group-item">
                      <a href="#">Delete account</a>
                    </li>
                </div>
            </div>
        <% } %>     
    </div> 
</div>

<%- include("../partials/footer") %>



