<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron">
        <h1 class="mb-4 display-3"><%= user.name %></h1>
    </div>
    <div class="mb-5">
        <% if(currentUser._id.equals(user._id)) { %> 
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/users/<%= user._id %>">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/users/<%= currentUser._id %>/pending">My Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/users/<%= currentUser._id %>/bookmarks">My Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/users/<%= currentUser._id %>/notifications">My Activity Log</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/users/<%= user._id %>/edit">Edit Profile</a>
                        <a class="dropdown-item" href="/users/<%= user._id%>/change_password">Change Password</a>
                    </div>
                </li>
            </ul>
        <% } %>  
    </div>
    <div class="row">        
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card m-0" style="width: 100%">
                <% if(!user.profilePic || !picExists){ %>
                    <img class="card-img-top profile" src="/placeholder/placeholder.png">
                <% } else { %>
                    <img class="card-img-top profile" src="/uploads/<%= user.profilePic %>">
                <% } %>           
                <div class="card-body">
                  <h5 class="card-title">@<%= user.username %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= user.organization %></h6>
                  <p class="card-text"><%= user.bio %></p>
                </div>
            </div>
            <% if(!currentUser._id.equals(user.id)) { %>
            <button class="btn btn-link mt-3" onclick="goBack()">Go Back</button>
            <% } %>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 pt-md-1 pt-sm-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row ml-1">
                            <h3><strong>Experience</strong></h3>
                            <% if(currentUser._id.equals(user._id)) { %> 
                                <a class="btn" href="/users/<%= user._id %>/add_exp" style="color: lightgreen;"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <a class="btn" href="/users/<%= user._id %>/remove_exp" style="color: lightsalmon;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            <% } %> 
                        </div>
                    </div>
                    <div class="card-text ml-1">
                        <% if(user.exp.length == 0) { %> 
                            <h5>The user has not input any experiences</h5>
                        <% } else { %> 
                            <% user.exp.forEach((exp) => { %>
                                <h5><%= exp.name %></h5>
                                <p><%= exp.desc %></p>
                            <% })%>
                        <% } %> 
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row ml-1">
                            <h3><strong>Skills</strong></h3>
                            <% if(currentUser._id.equals(user._id)) { %> 
                                <a class="btn" href="/users/<%= user._id %>/add_skill" style="color: lightgreen;"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <a class="btn" href="/users/<%= user._id %>/remove_skill" style="color: lightsalmon;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            <% } %> 
                        </div>
                    </div>
                    <p class="card-text">
                        <% if(user.skills.length == 0) { %> 
                            <h5>The user has not input any skills</h5>
                        <% } else { %> 
                            <ul>
                                <% user.skills.forEach((skill) => { %>
                                    <div class="row">
                                        <li><%= skill %></li>
                                    </div>
                                <% })%>
                            </ul>
                        <% } %> 
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <div class="row ml-1">
                            <h3><strong>Interests</strong></h3>
                            <% if(currentUser._id.equals(user._id)) { %> 
                                <a class="btn" href="/users/<%= user._id %>/add_int" style="color: lightgreen;"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                <a class="btn" href="/users/<%= user._id %>/remove_int" style="color: lightsalmon;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            <% } %> 
                        </div>
                    </div>
                    <p class="card-text">
                        <% if(user.int.length == 0) { %> 
                            <h5>The user has not input any interests</h5>
                        <% } else { %> 
                            <ul>
                                <% user.int.forEach((int) => { %>
                                    <div class="row">
                                        <li><%= int %></li>
                                    </div>
                                <% })%>
                            </ul>
                        <% } %> 
                    </p>
                </div>
            </div>
        </div>  
    </div> 
</div>

<script>
    function goBack() {
        window.history.back();
    } 
</script>

<%- include("../partials/footer") %>



