<%- include("../partials/header") %>
<div class="container">
    <div class="jumbotron">
        <h1 class="mb-4 display-3"><%= user.name %></h1>
    </div>
    <div class="row">        
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card m-0" style="width: 100%">
                <% if(!user.profilePic){ %>
                    <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/C0HkxevYXzyGFdC3xllgq-g6vucXFxVTkU8pBOSTAIFXgxC1UTc2BBUcxUEjvuepgLkuG1pXNMUYrF7OBAF9SLK1i3xfdSm7f-A3-Dl8uQ">
                <% } else { %>
                    <img class="card-img-top" src="<%= user.profilePic %>">
                <% } %>            
                <div class="card-body">
                  <h5 class="card-title">@<%= user.username %></h5>
                  <p class="card-text"><%= user.bio %></p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 pt-md-1 pt-sm-4">
            <h4>Email: <%= user.email %></h4>
            <h4>Organisation: <%= user.organization %></h4>
            <br>
            <% if(String(user._id) === String(currentUser._id)){ %>
                <a class="btn btn-primary btn-lg" href="/users/<%= user._id %>/edit">Edit Profile</a>
            <% } %>
        </div>
    </div> 
</div>

<%- include("../partials/footer") %>



