<%- include("../partials/header") %>
<div class="container">
    <h3 class="my-5">Your Groups</h3>
    <table class="table">
        <% if(data.length === 0) { %>
            <caption><em>You currently have not joined any groups.</em></caption>
        <% } %>
        <thead>
          <tr>
            <th scope="col">Event</th>
            <th scope="col">Group</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            <% for(let i = 0 ; i < data.length; i++) { %>
                <tr>
                    <td>
                        <a href="/events/<%= data[i].event._id%>/">
                            <%= data[i].event.name%>
                        </a>
                    </td>
                    <td>
                        <a href="/events/<%= data[i].event._id%>/groups/<%= data[i].group._id%>">
                            <%= data[i].group.name%>
                        </a>
                    </td>

                    <% if(data[i].group.isDeleted === true) { %>
                        <td class="text-secondary"><em>Group Deleted</em></td>
                    <% } else { %>
                        <% if(data[i].group.groupLeader.id.equals(currentUser._id)) {%>
                        <td class="text-success">Leader</td>
                    <% } else if(data[i].group.users.includes(currentUser._id)) { %>
                        <td class="text-success">Member</td>
                    <% } else if(data[i].group.removed.includes(currentUser._id)) { %>
                        <td class="text-danger">Removed</td>
                    <% } else if(data[i].group.pending.includes(currentUser._id)) { %>
                        <td class="text-warning">Pending</td>
                    <% } else if(data[i].group.rejected.includes(currentUser._id)) { %>
                        <td class="text-danger">Rejected</td>
                    <% } else if(data[i].group.left.includes(currentUser._id)) { %>
                        <td class="text-danger">Left Group</td>
                    <% } %>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
      </table>
     </div>
<%- include("../partials/footer") %>
